---
import BaseLayout from "../../layouts/BaseLayout.astro";
import NotionPost from "../../components/notion/NotionPost.astro";
import { getPostContent, getPosts } from "../../util/notion";

export async function getStaticPaths() {
  let posts = await getPosts();

  return posts.map((post) => {
    return {
      params: {
        postId: post.id,
      },
      props: {
        title: post["properties"]["Title"]["title"][0]["plain_text"],
      },
    };
  });
}

let { postId } = Astro.params;
let { title } = Astro.props;

let content = await getPostContent(postId);
---

<BaseLayout pageTitle={title} title={title.toString()}>
  <h1>Some Post {postId}</h1>
  <NotionPost content={content} />
</BaseLayout>
