---
let { block } = Astro.props;
let originalUrl = block.video.external.url;
let slicedUrl = originalUrl.slice(17);
---

<div class="aspect-w-16 aspect-h-9 mt-6">
  <iframe src={`https://www.youtube.com/embed/${slicedUrl}`}></iframe>
</div>
