---
import { Debug } from "astro/components";
let { block } = Astro.props;
let [textContent] = block.paragraph.rich_text;
let link = textContent?.href ? textContent?.href : null;
---

{
  link !== null ? (
    <a class="hover:text-blue-600 hover:underline text-blue-300" href={link}>
      {link}
    </a>
  ) : (
    <p>{textContent ? textContent.text.content : <br />}</p>
  )
}
