---
let { block } = Astro.props;
let [quoteContent] = block.quote.rich_text;
---

<h2
  class="text-xl my-8 bg-slate-200 p-3 border-l-blue-600 border-l-8 text-black max-w-fit"
>
  {quoteContent.text.content}
</h2>
