---
import { Debug } from "astro/components";
let { block } = Astro.props;
let [textContent] = block.paragraph.rich_text;
let link = textContent?.href ? textContent?.href : null;
---

{
  link !== null ? (
    <a href={link}>{link}</a>
  ) : (
    <p>{textContent ? textContent.text.content : <br />}</p>
  )
}
