---
import NotionParagraph from "./NotionParagraph.astro";
import NotionHeadingTwo from "./NotionHeadingTwo.astro";
let { content } = Astro.props;
---

<div class="sm:max-w-4xl sm:mx-auto mx-10">
  {
    content.map((block) => {
      switch (block.type) {
        case "paragraph":
          return <NotionParagraph block={block} />;
        case "heading_1":
          return <h2>This is a Heading 1</h2>;
        case "heading_2":
          return <NotionHeadingTwo block={block} />;
        case "quote":
          return <p>THIS IS A QUOTE</p>;
        case "code":
          return <code>THIS IS CODE</code>;
        default:
          return <p>No content type found</p>;
      }
    })
  }
</div>
