---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogLink from "../../components/BlogLink.astro";
import { getPosts } from "../../util/notion";

export async function getStaticPaths({}) {
  const allPosts = await getPosts();
  const uniqueTags = [
    ...new Set(
      allPosts
        .map((post) =>
          post["properties"]["Tags"]["multi_select"].map((tag) => tag.name)
        )
        .flat()
    ),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post["properties"]["Tags"]["multi_select"]
        .map((tag) => tag.name)
        .includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { posts } = Astro.props;
const { tag } = Astro.params;
---

<BaseLayout pageTitle={tag} title={tag.toString()}>
  <p>Posts tagged with {tag}</p>
  {
    posts.map((post) => (
      <BlogLink
        url={`/blog/${post["id"]}`}
        title={post["properties"]["Title"]["title"][0]["plain_text"]}
      />
    ))
  }
</BaseLayout>
