---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>About JJ Vega</h1>
      <h2>... and my new Astro site!</h2>
      <p>
        I am working through Astro's introductory tutorial. This is the second
        page on the website!
      </p>
      <p>
        I intend to build this up as my primary blog, so keep checking back!
      </p>
    </main>
  </body>
</html>
