---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogLink from "../components/BlogLink.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle: string = "Blog";
---

<BaseLayout pageTitle={pageTitle} title={pageTitle}>
  <h2 class="text-xl font-extrabold mb-5">
    ⚠️ UNDER CONSTRUCTION: Blog Incoming! ⚠️
  </h2>
  <h2 class="text-xl font-extrabold hover:text-blue-500">
    <a href="/tags">TAG INDEX</a>
  </h2>
  <ul class="mt-10">
    {
      allPosts.map((post) => (
        <BlogLink url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
