---
import BaseLayout from "../layouts/BaseLayout.astro";
import Avatar from "../components/Avatar.astro";
import Title from "../components/Title.astro";

const pageTitle = "";
---

<BaseLayout pageTitle={pageTitle} title="The 🧠 of JJ Vega">
  <div class="flex flex-col justify-center align-middle">
    <Avatar />
    <Title pageTitle="The 🧠 of JJ Vega" />
    <p class="mb-5 text-xl">
      A blog about web development, coaching, and personal growth.
    </p>
    <p class="text-xl mb-10">
      Got a problem? I'd love to help you <a
        class="text-blue-700 text-2xl"
        href="mailto:jj.vega86@gmail.com">solve it.</a
      >
    </p>
  </div>
</BaseLayout>
