---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroBaseLayout from "../layouts/HeroBaseLayout.astro";
import ImageContainer from "../components/ImageContainer.astro";
import hero from "../images/mountain-hero.jpg";

const pageTitle = "The 🧠 of JJ Vega";
---

<HeroBaseLayout pageTitle={pageTitle}>
  <p class="my-5 text-xl">
    A blog about web development, coaching, and personal growth.
  </p>
  <p class="text-xl mb-10">
    Got a problem? I'd love to help you <a
      class="text-blue-700 text-2xl"
      href="mailto:jj.vega86@gmail.com">solve it.</a
    >
  </p>
</HeroBaseLayout>
