---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "JJ Vega";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-5xl font-bold">Welcome to the 🧠 of {pageTitle}</h1>
  <p class="mt-5 text-xl">
    Get to know me, see what I'm thinking about, and <span class="text-blue-700"
      >work with me.</span
    >
  </p>
</BaseLayout>
