---
import BlogCard from "./BlogCard.astro";

let { posts } = Astro.props;
---

<div class="mt-16 grid sm:grid-cols-3 mx-10 gap-8">
  {
    posts.map((post) => (
      <BlogCard
        url={`/blog/${post["id"]}/`}
        title={post["properties"]["Title"]["title"][0]["plain_text"]}
        description={
          post["properties"]["Description"]["rich_text"][0].text.content
        }
        pubDate={post["properties"]["Publish Date"]["date"].start}
        imgURL={post["properties"]["Image URL"]["url"]}
        imgAlt={post["properties"]["Image Alt"]["rich_text"][0].plain_text}
      />
    ))
  }
</div>
