---
import brandIcon from "../images/android-chrome-512x512.png";
---

<div class="ml-5">
  <p class="text-5xl cursor-pointer">
    <a href="/"><img width="42" src={brandIcon} alt="j icon" /></a>
  </p>
</div>
