---
let content: string = "WORK WITH ME";
---

<button
  class="hover:text-blue-700 hover:bg-transparent hover:outline p-2 bg-blue-700 text-white transition ease-in rounded-lg ml-5"
  ><a href="mailto:jj.vega86@gmail.com">{content}</a>
</button>
