---
import Social from "./Social.astro";
---

<footer class="mt-10 bg-gray-600 h-40">
  <ul class="flex justify-center text-white items-center w-full h-full">
    <li>
      <Social
        platformName="LinkedIn"
        URL="https://www.linkedin.com/in/jj-vega/"
      />
    </li>
    <li><Social platformName="GitHub" URL="https://github.com/jjvega86" /></li>
  </ul>
</footer>
