---
import Social from "./Social.astro";
import { generateCurrentYear } from "../util/helpers";
---

<footer class="mt-10 bg-gray-300 h-40">
  <div class="flex flex-col justify-center items-center w-full h-full">
    <div class="mb-8 flex-row">
      <Social
        src="src/images/icons8-linkedin-circled-48.png"
        URL="https://www.linkedin.com/in/jj-vega/"
        alt="linkedin icon"
      />
      <Social
        src="src/images/icons8-github-48.png"
        URL="https://github.com/jjvega86"
        alt="github icon"
      />
    </div>
    <small>&copy; Copyright {generateCurrentYear()}, JJ Vega</small>
  </div>
</footer>
