---
import Social from "./Social.astro";
---

<footer>
  <ul>
    <li>
      <Social
        platformName="LinkedIn"
        URL="https://www.linkedin.com/in/jj-vega/"
      />
    </li>
    <li><Social platformName="GitHub" URL="https://github.com/jjvega86" /></li>
  </ul>
</footer>
