---
import CTAButton from "./CTAButton.astro";
import Hamburger from "./Hamburger.astro";
import NavLink from "./NavLink.astro";
---

<nav>
  <div class="sm:hidden">
    <Hamburger />
  </div>
  <div class="sm:flex gap-5 mr-5 hidden">
    <NavLink location="/about/" name="About" />
    <NavLink location="/blog/" name="Blog" />
    <CTAButton />
  </div>
</nav>
