---
import Hamburger from "./Hamburger.astro";
import NavLinks from "./NavLinks.astro";
import MobileNav from "./MobileNav.astro";
---

<nav>
  <MobileNav />
  <div class="sm:hidden">
    <Hamburger />
  </div>
  <NavLinks hidden />
</nav>
