---
import Tag from "./Tag.astro";
let { tags } = Astro.props;
---

<div class="flex justify-center align-middle flex-wrap gap-5 mb-10">
  {
    tags.map((tag: string) => (
      <a href={`/tags/${tag}`}>
        <Tag tag={tag} />
      </a>
    ))
  }
</div>
